*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.container{
    background: wheat;
    width: 1000px;
    padding:40px;
    border-radius: 10px;
    box-shawdow:0px 10px 10px rgba(0, 0, 0, 0.2);
}
h1{
    margin-bottom: 30px;
}
h3{
    margin: 20px 0 15px;
    color:rgb(9, 9, 9);
}
.row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;   
}
.input-box{
    flex:1;
}
label{
    font-size:20px;
    display:block;
    margin-bottom: 5px;
}
input{
    width:100;
    padding: 10px;
    border-radius:6px;
    border:1px solid grey;
}
.btn{
    margin-top: 20px;
    color: rgb(2, 1, 2);
    btn-hover: 20px;
    padding: 12px 25px;
    background-color: blue;
    border:none;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover {
       background: rgb(117, 117, 212);
}